body {height: 100vh; display: flex; align-items: center;justify-content: center; background: #0a88d7; flex-direction: column; gap: 15px; overflow: hidden;}
h1 {font-size: 40px; font-family: 'gg sans';}
.list {display: flex; align-items: center; gap: 10px;}
.list a {display: inline-flex; align-items: center; text-align: center; padding: 5px 15px;height: 40px; background: #ff0000; border-radius: 10px;}